@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #d256fc;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
}

main h1::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #7205f0, #42008f);;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form .ui.left.icon.input{
    margin-top: 1rem;
}

main form input{
    background: #b94ede;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    border: 1px solid #8a00bd;
    border-radius: 8px;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #7205f0;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover{
    background: #42008f;
}

section.images{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img{
    width: 100%;
}

section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #b940f5, #636fa4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
    section.images img{
        width: 110%;
    }

    section.images .circle{
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px){
    section.images{
        display: none;
        visibility: hidden;
    }

    main{
        width: 100vw;
    }
}

@media only screen and (max-width: 450px){
    main h1{
        font-size: 2rem;
    }

    main form label span, main form input[type="submit"]{
        font-size: 1rem;
    }
}