*{
    padding: 0;
    margin: 0;
}

footer{
    background-image: linear-gradient(to bottom, #C36EE0, #ae35d9);
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

.element{
    display: inline-block;
    text-align: center;
    width: 33.33%;
}

.container {
    display: inline-flex;
    list-style: none;
}

p{
    font-size: 16px;
}

@media only screen and (max-width: 700px){
    footer{
        padding: 40px;
    }

    .element{
        display: block;
        text-align: center;
        width: 100%;
    }

    .contatos{
        margin-top: 20px;
    }

    .sobre{
        margin-top: 20px;
    }
}
/*
@media only screen and (max-width: 1200px){
    .element.endereco {
        bottom: 22px;
    }

    .element.sobre {
        top: 0px;
        padding-left: 40px;
    }

    .element.contatos {
        position: relative;
        left: 20px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 800px){
    .element.endereco {
        bottom: 45px;
    }

    .element.sobre {
        top: 0px;
        padding-left: 40px;
    }

    .element.contatos {
        position: relative;
        bottom: 25px;
    }
}

.fab {
    color: white;
}

.container li:hover .fab {
    color: #aa2ec0;
    transition: 0.3s;
}
*/
