*{
    padding: 0;
    margin: 0;
}

footer{
    background-image: linear-gradient(to bottom, #c435dd, #e040fb);
    color: #fff;
    width: 100%;
    padding: 20px 0;
}

.element{
    display: inline-block;
    text-align: center;
    width: 33.33%;
}

p{
    font-size: 16px;
}

@media only screen and (max-width: 700px){
    .element{
        display: block;
        text-align: center;
        width: 100%;
        padding: 20px;
    }
}