@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body{
    background: #ff17d4;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.container{
    max-height: 60vh;
    margin-top: 3.3rem;
    background: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.header{
    background: dodgerblue;
    min-width: 50vw;
    min-height: 30vh;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color: black;
}

.content .element{
    margin-bottom: 1rem;
}

.content .element:hover:not(:first-child){
    cursor: pointer;
}

.content button{
    width: 100%;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.w3-center{
    margin-top: 1.6rem;
}

@media only screen and (max-width: 1365px) {
    body{
        align-items: center;
    }

    .container{
        margin-top: 0;
    }
}