.products-list{
    position: relative;
    margin-top: 3rem;
    padding: .8rem;
}

.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-item, .box-ver-todos{
    margin-top: 2.3rem;
    /* padding: 1rem;*/
    display: inline-block;
    text-align: center;
    position: relative;
    max-width: 37.5vh;
}

.product-item:not(:last-child){
    margin-right: 1.2rem;
}

.product-image{
    max-width: 40vh;
}

.btn{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: limegreen !important;
    background: none;
    border-radius: 12px !important;
    border: 2px solid limegreen !important;
    transition: all .2s ease-out !important;
}

.btn:hover{
    cursor: pointer;
    background: limegreen;
    color: #fff !important;
}

.fav{
    font-size: 16px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}

.fav:hover{
    cursor: pointer;
}